.container {
    width: 100%;
}
.menu, .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu {
    height: 58px;
}
.menu li {
  background: #fff;
    min-width: 90px;

}
.menu > li {
    display: block;
    float: left;
    position: relative;
}
.menu > li:first-child {
    border-radius: 5px 0 0;
}
.menu a {
color: #808080;
display: block;
font-family: Lato;
font-size: 14px;
line-height: 65px;
padding: 0 25px;
text-decoration: none;
text-transform: uppercase;
font-weight: lighter;
text-align: center;
}
.menu a:hover{
    color:#d11a88;
}

/* submenu styles */
.submenu {
    left: 0;
    max-height: 0;
    position: absolute;
    top: 101%;
    z-index: 0;

}
.submenu li {
  width: 200px;
background: #fff;
   border-bottom: 1px solid gray;

}
.menu .submenu li a{
  text-align: left;
    line-height: 45px;
    border-radius: 0;
    color: black;
}
.menu .submenu li:hover a {
    border-radius: 0;
    color:#d11a88;
}
.menu > li:hover .submenu, .menu > li:focus .submenu {
    max-height: 2000px;
    z-index: 10;
}

/* CSS3 delays for transition effects */
.sc_search {
  width: 291px;
  height: 40px;
  float: right;
  display: inline-block;
  margin: 7px 6px 0 0px;
}

.sc_search button {
    overflow: visible;
    position: relative;
    margin-left: -2px;
    float: left;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 33px;
    width: 72px;
    font: bold 12px/36px 'Raleway', sans-serif;
    color: #fff;
    transition: all 0.3s ease-out;
}

.sc_search button:hover {
    color: grey;
}

.sc_search button {
    overflow: visible;
    position: relative;
    margin-left: -2px;
    float: left;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 33px;
    width: 72px;
    font: bold 12px/36px 'Raleway', sans-serif;
    color: #fff;
    transition: all 0.3s ease-out;
    text-transform: uppercase;
    background: #d11a88;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

.sc_search button:before {
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #d11a88 transparent;
    top: 9px;
    left: -6px;
}

.sc_search .inp_srh {
    width: 203px;
    margin-left: -1px;
    height: 33px;
    padding: 5px;
    background: url("http://www.360save.net/toolsempire/images/search_bg.jpg") no-repeat;
    background-position: top: 2px;
    left: 2px;
    border: 2px solid #ddd;
    outline: none;
    color: #181818;
    line-height: 26px;
    font-size: 10px;
    font-family: arial;
    display: block;
    float: left;
}

#letter {
  display: inline-block;
margin-left: 42px;
float: left;
margin-top: 18px;
}
